*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c87ea3;
}

.title-container{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.box-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  border: 1px solid black;
  margin-right: 25px;
  font-size: 20px;
}

h1{
  font-size: 30px;
}